@font-face {
    font-family: 'sgf';
    src: url('fonts/sgf.woff2') format('woff2'),
	url('fonts/sgf.ttf') format('TrueType'),
         url('fonts/sgf.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}